@mixin list-clear() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset-btn() {
  padding: 0;
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  border: none;
  border-radius: 0;
}
