.footer-academy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-academy__link {
  margin: 30px 0;

  line-height: 16px;
  @include font-arial();
  text-decoration: none;
}

.footer-academy__svg path {
  fill: #444444;
}
