.form__wrap {
  display: flex;

  margin-bottom: 15px;
}

.form__wrap input {
  width: 100%;

  padding: 10px 0;
  padding-left: 10px;
}

.form__wrap label {
  margin-top: 10px;
  margin-right: 15px;
}

.form__title {
  margin-bottom: 30px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
}

.form__btn {
  margin-bottom: 10px;

  text-transform: uppercase;
}

.form__text {
  margin-bottom: 40px;

  font-family: $arial;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  @include textdecor-arial();
}
