.programs-cats {
  padding: 0 20px;
}

.programs-cats__box {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 20px;

  background-color: #f2f2f2;
}

.programs-cats__title {
  margin-left: 74px;

  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}

.programs-cats__text {
  padding-bottom: 20px;

  font-family: Arial;
  font-size: 14px;
  color: #444444;

  border-bottom: 1px solid #e6e6e6;
}

.programs-cats__link {
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
