.programs-cats__box {
  position: relative;

  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 20px;

  background-color: #f2f2f2;
}

.programs-cats__wrap {
  padding: 0 40px;
}

.programs-cats__img::after {
  content: "";

  position: absolute;
  top: 20px;
  left: 40px;

  width: 50px;
  height: 50px;

  background-color: $btn-color;

  border-radius: 50%;
}

.programs-cats__svg {
  position: absolute;
  z-index: 2;
}

.programs-cats__svg--slim {
  top: 17px;
  left: 50px;
}

.programs-cats__svg--pro {
  top: 30px;
  left: 30px;
}

.programs-cats__title {
  margin-left: 74px;

  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
}

.programs-cats__text {
  padding-bottom: 20px;

  font-size: 14px;
  @include arial();

  border-bottom: 1px solid #e6e6e6;
}

.programs-cats__link {
  position: relative;

  line-height: 16px;
  color: #000000;
  text-decoration: none;
}
