.selection-program-box {
  margin-bottom: 20px;
  padding: 11px 0;

  color: #ffffff;
  text-align: center;

  background-color: #ffffff;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.selection-program-box__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-transform: none;
}

.selection-program-box__text {
  font-size: 14px;
  line-height: 14px;
}
