.goods-list {
  @include list-clear();

  margin: 40px 0;

  border-top: 1px solid #e6e6e6;

  box-sizing: border-box;
}

.goods-list__item {
  padding-bottom: 20px;

  border-bottom: 1px solid #e6e6e6;
}

.goods-list__item-title {
  font-weight: 400;
}

.goods-list__item-amount {
  font-family: $font-arial;
  font-size: 14px;
  text-transform: none;
  color: #444444;
}

.goods-list__item-val {
  font-family: $font-arial;
  font-size: 14px;
  text-transform: none;
  color: #444444;
}
