.menu-list {
  @include list-clear();

  background: #ffffff;

  box-sizing: border-box;
}

.menu-list__item {
  padding: 22px 0;

  text-align: center;
  border-bottom: 1px solid #e6e6e6;

  &:hover .menu-list__link {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active .menu-list__link {
    color: rgba(0, 0, 0, 0.3);
  }

  &--active {
    &:hover .menu-list__link,
    &:active .menu-list__link {
      color: #000000;
    }
  }
}

.menu-list__link {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: #000000;

  &--active {
    border-bottom: 2px solid #68b738;
  }
}
