.page {
  margin: 0 auto;
  padding: 0;

  width: 320px;

  font-family: $font-oswald;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  text-transform: uppercase;

  box-sizing: border-box;
}
