.product {
  padding-bottom: 20px;

  border-top: 1px solid #e6e6e6;
}

.product__wrap {
  padding: 0 20px;
}

.product__title {
  font-weight: 400;
}

.product__img {
  background-color: #ecb282;
}

.product__line {
  font-family: $font-arial;
  font-size: 12px;
  text-transform: none;
  color: #444444;
}
